<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login page for User Dashboard Assignment</title>
    <!----- BOOTSTRAP ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <style>
        div.body_wrapper {
            padding: 0px 50px;
        }
        /** FLASH MESSAGES *******************************/
        div.form-group label {
            display: inline-block;
        }
        .registration_msgs, .login_msgs {
            list-style-type: none;
            display: inline-block;
            margin-left: -10px;
        }
            .green_message {
                color: green;
            }
            .red_message {
                color: red;
            }
        /*************************************************/
    </style>
</head>
<body>
    <div class="navbar" style="padding: 10px auto; border-bottom: 1px solid darkgrey;">
        <div class="navbar-inner">
            <nav class="container" style="padding: 0px 20px;">
            <h3 style="display: inline-block;">User Dashboard</h3>
            <ul class="nav" style="display: inline-block;">
                <li class="active" style="display: inline-block; font-size: 18px;"><a href="{%url 'go_startpage' %}">Home</a></li>
                <li class="active" style="display: inline-block; font-size: 18px;"><a href="{%url 'go_login' %}">Sign In</a></li>
            </ul>
        </nav>
        </div>
    </div>

    <div class='body_wrapper'>
        <h1 style="display: inline-block;">Register</h1>
        {% if messages %}
            <ul class="registration_msgs">
                {% for message in messages %}
                    {% if message.extra_tags == 'success' %}
                        <li class='green_message registration_msgs'>{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        <form action="{%url 'processRegistration' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="first_name">First Name:</label>
                {% if messages %}
                    <ul class="registration_msgs">
                        {% for message in messages %}
                            {% if message.extra_tags == 'first_name' %}
                                <li class='red_message registration_msgs'>{{ message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                <input type="text" class="form-control" name="first_name">
            </div>

            <div class="form-group">
                <label for="last_name">Last Name:</label>
                {% if messages %}
                    <ul class="registration_msgs">
                        {% for message in messages %}
                            {% if message.extra_tags == 'last_name' %}
                                <li class='red_message registration_msgs'>{{ message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                <input type="text" class="form-control" name="last_name">
            </div>

            <div class="form-group">
                <label for="email_address">Email Address:</label>
                {% if messages %}
                    <ul class="registration_msgs">
                        {% for message in messages %}
                            {% if message.extra_tags == 'email_address' %}
                                <li class='red_message registration_msgs'>{{ message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                <input type="text" class="form-control" name="email_address">
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                {% if messages %}
                    <ul class="registration_msgs">
                        {% for message in messages %}
                            {% if message.extra_tags == 'password' %}
                                <li class='red_message registration_msgs'>{{ message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                <input type="password" class="form-control" name="password">
            </div>
           
            <div class="form-group">
                <label for="conf_password">Confirm Password:</label>
                {% if messages %}
                    <ul class="registration_msgs">
                        {% for message in messages %}
                            {% if message.extra_tags == 'conf_password' %}
                                <li class='red_message registration_msgs'>{{ message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                <input type="password" class="form-control" name="conf_password">
            </div>

            <button type="submit" class="btn btn-default">Sign In</button>
        </form>

        <br><a href="{%url 'go_login' %}">Already have an account? Login here..</a>
    </div>

</body>
</html>